<!-- <a href="#"> -->

  <div class="one_em_margin_card" >
      <div class="ui  fluid link card one_em_margin">
        <div class="zero_pad content">
          <!-- <a class="header">Daniel Louise</a> -->
          <div class="ui rounded grid title">
            <!-- <div class="ui eight wide column left">
              <a href="//baidu.com">
                <h1 class="vertical content_title">生活篇</h1>
                <p class="content_subtitle">生活篇的副标题</p>
              </a>

            </div> -->
            <div class="ui sixteen wide column right">
              <a class="zero_margin right Medium ui  image " href="//baidu.com">
                  <img  class="img_round" src="/static/static_zn/images/box.jpg"  alt="" />
              </a>

            </div>
          </div>
        </div>
      </div>
  </div>
<!-- </a> -->
