<div class="">


    <div class="secton_top_image">
        <img class="ui fluid  image" src="/static/static_zn/images/gyp.png" alt="" />
    </div>


    <div class="ui grid ">
        <div class="ui sixteen wide column ">
            <div class="article">
                <!-- <button type="button" name="button" id="btn" style="color:white; font-size:3rem;">click</button> -->
                <!-- <div class="image_group " id="show_images_ziwopian_1">
                    <div class="ui grid">
                        <div class="row no_padding">
                            <div class="right floated right aligned five wide column">
                                <span class="icon"></span>
                                <button name="button" class="show_images_anquanpian_1 ui massive black button" style="color: rgba(150,150,150,1); background-color: rgba(0,0,0,0);">
                                    点击查看大图
                                </button>
                            </div>
                        </div>
                        <div class="row no_padding">

                            <div class=" no_padding ui eight wide column ">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                            <div class="ui eight wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                        </div>
                        <div class="ui row no_padding">
                            <div class="ui sixteen wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />

                            </div>
                            <div class="ui sixteen wide column">

                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="ui huge center aligned inverted violet header para_header">MOTSS提示</div> -->
                <div class="ui grid">
                    <div class="ui row">
                        <div class="ui center aligned sixteen wide column">
                            <button class="mymassive ui violet button">MOTSS提示</button>
                        </div>
                    </div>
                </div>

                <div class="subsection para_collection">
                    <p>
                        参与公益是一种美德。参与同志公益从来不是每个同志的义务，你可以永远只关心自己的生活，不与其他人谈论性别认同、性向和人权的话题，你可以为了伪装成“顺性别直人”而并且表现出对性少数的鄙夷；但你也可以向你周围的朋友宣传性倾向、性别多元平等的观念，你也可以勇敢地站出来向更多的人大声呼吁，又或者向其他摇旗呐喊的同志进行精神上或者物质上的支持，因为参与同志公益是一种美德，它让这个群体的生存状态一步步得到改善，这种行动理应得到称赞。

<br/><br/>（酷儿论坛参与上海骄傲节LGBT小组开放日活动）
<br/><br/>中国的公民政治权利（如游行、集会等）虽因种种原因有待进一步落实，但这并不代表同志公益在这个国家就无法开展。我们仍然有诸多可以规避风险的方式来进行活动，诸如网络宣传、骑行、纪录片拍摄、讲座、行为艺术等。能上大街宣传当然是不错的行动方式，而同志社群内部的自我认同的倡导也未尝不是一种努力，即便是向室友、同学出柜（在风险有保证的情况下）也能提高性少数人群的能见度。

<br/><br/>(2013年酷儿论坛在浙工大屏峰校区进行骄傲月涂鸦）
<br/><br/>参与公益从来不是一种义务，但它是一种美德。我们呼吁同性恋朋友以及其他朋友都能在力所能及的范围内为性少数人群平权运动贡献出自己的一份力量，哪怕是一次微博转发，一次评论跟帖，关注就是力量。

                    </p>

                </div>

            </div>
        </div>
    </div>
</div>







<script type="text/javascript">
    $(document).ready(function() {

        $("#show_images_ziwopian_1").click(function() {
            openPhotoSwipe("#show_images_ziwopian_1");
        });

    });
</script>
