<div class="">


<div class="secton_top_image">
    <!-- <img class="ui fluid  image" src="/static/static_zn/images/qy.png" alt="" /> -->
</div>


<div class="ui grid ">
        <div class="ui sixteen wide column ">
            <div class="article">
                <!-- <div class="image_group " id="show_images_ziwopian_1">
                    <div class="ui grid">
                        <div class="row no_padding">
                            <div class="right floated right aligned five wide column">
                                <span class="icon"></span>
                                <button name="button" class="show_images_anquanpian_1 ui massive black button" style="color: rgba(150,150,150,1); background-color: rgba(0,0,0,0);">
                                    点击图片查看大图
                                </button>
                            </div>
                        </div>
                        <div class="row no_padding">

                            <div class=" no_padding ui eight wide column ">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                            <div class="ui eight wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                        </div>
                        <div class="ui row no_padding">
                            <div class="ui sixteen wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />

                            </div>
                            <div class="ui sixteen wide column">

                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="ui huge center aligned inverted red header para_header">同志是什么?</div> -->


                <div class="ui grid">
                    <div class="ui row">
                        <div class="ui center aligned sixteen wide column">
                            <button class="mymassive ui olive button">后记</button>
                        </div>
                    </div>
                </div>

                <div class="subsection para_collection">
                    <p>
                        《新生同志指南》最早写于2013年，转眼间，当初读着这篇指南的大一新生也将面临毕业。三年来，这篇指南也给很多人带来了帮助和“相见恨晚”的感慨。然而时代在变化，当初的写作者的观念与知识结构也发生了变化，为了适应种种变化也为了更好地为性少数人群及希望增长知识的人服务，酷儿论坛的小伙伴们在半个月时间里对原版进行了近乎重写式的修订（上一次是在2015年）。本次版本修订主要有以下一些变动：
<br/><br/>
1.写作视角变化。由之前的（男）同性恋视角扩大为包括女男同性恋、双性恋、跨性别、酷儿等在内的性少数视角；情感部分也涉及了HIV感染者“阴阳恋”的问题；预设的阅读对象也不局限于一二线城市，同时涵盖了其他地区的情况。
<br/><br/>
2.部分观点修正。新版承认了性向、性别存在流动的客观事实；出柜问题上，经济独立也只是作为建议项，而非必须项；否定“同志圈乱”这一刻板印象，同时也对“脏”、“乱”等去污名；不再以同志圈有长情伴侣作为“同志有真爱”的论据，而是否定了时间长短作为判断幸福与否的标准。
<br/><br/>
3.增加了一些必要的篇章并对体例进行修改。2015版新增了《安全篇》，今年还增加了“信息安全”的内容；《公益篇》新增“心理咨询”和“反扭转治疗”的内容；每一章后都加了Q&A小问答，还增加了附注、参考阅读文章、相关组织联系方式等。
<br/><br/>
其余变动则不再详述，否则就成了“我注六经，六经注我”般的冗杂。这些改动有的是为了方便阅读，有的时更新信息，有的则是“政治正确”方面的“自我审查”。“政治正确”在我看来是一个中性词，它非我们的目的而只是我们看待问题的一个角度。新版中我们增加了很多视角，其中中包括了那些曾经被“正统同志”忽略的族群，也不再强调“先天论”“唯长情论”等论调。搞同运并非是为了树造新的“（中产阶级男）同性恋霸权”，我们做的一切都是为了受压迫者们能自由、平等地追求自身的幸福。
<br/><br/>
在今年的修订中，我负责了《自我篇》、《情感篇》、《性爱篇》的修改，Owen负责了《生活篇》、《安全篇》、《公益篇》的修改，琉璃更新了时效性的内容，丸子添加了附注并负责统稿，安娜新增了心理方面的内容，ABC提供了技术支持，青雀、Dale提供了美术支持，此外还有更多的小伙伴提供了必要的帮助。文章中“Rush安全”参考了爱白网星星博士的文章，性别重置手术参考了果壳网烧鸡X的文章，皮皮还为我们撰写跨性别部分提供了支持。在此向各位表示诚挚的谢意！
<br/><br/>
“日子，你该会的，日子都会教给你的。你听别人讲，没用。”正如碧浪达夫人的这句毒鸡汤，我们不指望这篇指南能教会大家什么。这篇指南只是一份地图，我们列出了主要的街道和交通规则，具体怎么走还看你的选择。由于我们自己的知识水平和观点、文章篇幅、敏感内容审查的限制，很多内容没法做到尽善尽美，一些篇章的细节也无法展开（比如《性爱篇》），书成众手，语言文字上也多有龃龉。希望大家能谅解，对于文章的错误与争议也欢迎联系我们，我们将在下一版中进行修订。

                    </p>
                    <p class="ui right aligned">
                        by 暖阳
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>







<script type="text/javascript">
    $(document).ready(function() {

        $("#show_images_ziwopian_1").click(function() {
            openPhotoSwipe("#show_images_ziwopian_1");
        });

    });
</script>
