<div class="article" style="padding-bottom: 10rem;">
    <div class="ui grid">
        <div class="ui row">
            <div class="ui center aligned sixteen wide column">
                <button class="mymassive ui red button">特别鸣谢</button>
            </div>
        </div>
    </div>
    <div class="subsection para_collection" style="padding: 0 1rem 0 1rem !important;">
    <p>
        本文内容中部分参考了以下组织机构的成果，在此感谢：
    </p>
    <div class="ui six doubling cards">
  <div class="card">
    <div class="image">
      <img src="/static/static_zn/images/kua.png">
    </div>
    <div class="content"><a class="header">跨性别生活</a></div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/static_zn/images/bei.png">
    </div>
    <div class="content"><a class="header">北京同志中心</a></div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/static_zn/images/tong.png">
    </div>
    <div class="content"><a class="header">同语</a></div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/static_zn/images/guo.png">
    </div>
    <div class="content"><a class="header">果壳网</a></div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/static_zn/images/ai.png">
    </div>
    <div class="content"><a class="header">爱白</a></div>
  </div>
</div>
</div>
</div>
