<div class="">


<div class="secton_top_image">
    <!-- <img class="ui fluid  image" src="/static/static_zn/images/qy.png" alt="" /> -->
</div>


    <div class="ui grid ">
        <div class="ui sixteen wide column ">
            <div class="article">
                <!-- <div class="image_group " id="show_images_ziwopian_1">
                    <div class="ui grid">
                        <div class="row no_padding">
                            <div class="right floated right aligned five wide column">
                                <span class="icon"></span>
                                <button name="button" class="show_images_anquanpian_1 ui massive black button" style="color: rgba(150,150,150,1); background-color: rgba(0,0,0,0);">
                                    点击图片查看大图
                                </button>
                            </div>
                        </div>
                        <div class="row no_padding">

                            <div class=" no_padding ui eight wide column ">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                            <div class="ui eight wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                        </div>
                        <div class="ui row no_padding">
                            <div class="ui sixteen wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />

                            </div>
                            <div class="ui sixteen wide column">

                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="ui huge center aligned inverted red header para_header">同志是什么?</div> -->


                <div class="ui grid">
                    <div class="ui row">
                        <div class="ui center aligned sixteen wide column">
                            <button class="mymassive ui pink button">前言</button>
                        </div>
                    </div>
                </div>

                <div class="subsection para_collection">
                    <p>
                        9月开学季，我们赶在最晚一批报道的新生（没错就是杭州的诸位）正式开启大学生活前，将这份全新修订的指南带到你面前。

<br/><br/>欢迎各位新生，尤其是作为性少数的你。

<br/><br/>困惑和期待同时包含在你的性与性别身份中，包含在你对新生活的设想里。这篇指南要做的事，就是为你提供更多的可能性——在诸多不明朗的方向和单一的道路里，你还有这些选择，你的选择需要承担怎样的后果。但终究，路是你自己选择的，这正是“指南”的意义。

<br/><br/>作为这份指南的第一批受众和获益者，我在3年后成为了它的修订者，并在此诚挚邀请你，勇敢地从它开始探索自己作为一个性少数或非性少数的无限未来。

                    </p>
                    <p class="ui right aligned">
                        by Owen
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>







<script type="text/javascript">
    $(document).ready(function() {

        $("#show_images_ziwopian_1").click(function() {
            openPhotoSwipe("#show_images_ziwopian_1");
        });

    });
</script>
