<div class="">


    <div class="secton_top_image">
        <img class="ui fluid  image" src="/static/static_zn/images/xap.png" alt="" />
    </div>


    <div class="ui grid ">
        <div class="ui sixteen wide column ">
            <div class="article">
                <!-- <button type="button" name="button" id="btn" style="color:white; font-size:3rem;">click</button> -->
                <!-- <div class="image_group " id="show_images_ziwopian_1">
                    <div class="ui grid">
                        <div class="row no_padding">
                            <div class="right floated right aligned five wide column">
                                <span class="icon"></span>
                                <button name="button" class="show_images_anquanpian_1 ui massive black button" style="color: rgba(150,150,150,1); background-color: rgba(0,0,0,0);">
                                    点击查看大图
                                </button>
                            </div>
                        </div>
                        <div class="row no_padding">

                            <div class=" no_padding ui eight wide column ">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                            <div class="ui eight wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                        </div>
                        <div class="ui row no_padding">
                            <div class="ui sixteen wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />

                            </div>
                            <div class="ui sixteen wide column">

                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="ui huge center aligned inverted green header para_header">同志是什么?</div> -->


                <div class="subsection para_collection">
                    <p>
                        如果说在恋爱方面，同性伴侣与异性伴侣是大同小异的话，那么在性爱方面，两者则是大相径庭——这是生理特点所决定的。在这里我们会在技术方面进行简要指导，更细节的东西恐怕就要求诸名师了。
                        <br/><br/>精子便宜卵子贵，雌性要花更多的时间生育后代，而雄性则是通过尽可能多的交配来传递自己的基因。无论是出于生理原因，还是男女不平等的社会现实，男性的性活跃程度往往高于女性。因此，男同社群中平均性伴数多于其他社群也是显而易见的。最常见的男同性行为方式是肛交（异性恋及其他群体中也存在），这也产生了男同中最常见的角色划分：攻和受，或者1和0。直肠并不像阴道那样柔韧，很容易在肛交中发生破损，因此感染艾滋病等其他疾病的风险也较高，所以除了要戴安全套以及性交动作不要过于剧烈之外，足够的润滑和事先的准备也是必要的。虽然直肠不是天生的性爱器官，然而肛门附近神经丰富，同时肛交时会刺激到男性独有的前列腺器官引起前列腺快感（因人而异），因此被插入方也能体验到乐趣。
                        <br/><br/>而女同，虽然身为女性，性活跃不及男性（有很大一部分原因是社会文化对女性性欲的压迫），但也不代表女女之间就不需要性行为。最常见的女女性行为方式是指交，即用手指抚弄女性生殖器（外阴及阴道内部）。从人类胚胎发育来看，女性的阴蒂和男性的阴茎是由类似的部位发育而成，而女性的斯基恩氏腺（位于女性尿道附近，受刺激会发生“潮吹”，但不是所有女性都敏感）与男性的前列腺也是同源的，都是人体的性感带。尽管阴道会更柔韧，但依然是较为脆弱的部位，很容易因受到感染而引发疾病。目前市面上已经有专供女性指交使用的指交套，大小更适合手指，有需要的女同可以上网购买或者向当地的拉拉组织询问。
                        <br/><br/>插入式性行为绝非人类性行为的唯一方式，也并非只有触碰到生殖器才会获得快感。同性性行为还有很多种非插入的方式，如互相摩擦生殖器，男性间称为“斗剑”、“磨豆腐”，女性间称为“交慰”、“磨镜”。此外，还有股间交（即阴茎插入两腿之间）、相互手淫、相互口交（又称“69”）等等，使用器具（如假阴茎、按摩棒、跳蛋、飞机杯等）也可以获得不一样的乐趣。这些都是较“大众”的性行为方式，较“小众”的性行为方式还包括BDSM（绑缚与性调教、支配与臣服、施虐与受虐）、多人性交（又称“多P”）、角色拌演（如拌演警匪、师生、医患等）、电话做爱等。其实这些都不仅仅存在于同性之间，其他群体中也有，属于人类性行为的多元形态。性是人类获得快感的一种方式，想要拥有更愉悦的性，器官、身材等并不是决定因素，你需要学习和探索，好的性不是一个简单的活塞运动，而是前戏、环境、辅助物（如润滑剂）、心态等多方面的配合。我们应该正视自己的性欲，而不是为之羞耻。
                        <br/><br/>对于跨性别者而言，因为科技的发展，在进行成功的性别重置手术之后，性福方面也是有保障的。男跨女的手术并不是简单地去势，还包括了外阴及阴道的重建和乳房的塑造。龟头的一部分会用来重建阴蒂，而相连的肉茎（内有神经和血管）则会负责提供新建的阴蒂所需的神经和血液。由于利用龟头创建的阴蒂具有良好的血管和敏感度并保留了神经，这为阴蒂高潮准备了硬件。同时由于前列腺并没有被摘除，肛交也能获得高潮。对于女跨男来说会麻烦一些，在阴茎再造手术中还需要植入睾丸和阴茎假体，手术之后的勃起便依赖于植入的假体。以阴蒂塑造的龟头和以阴唇皮瓣、阴道壁皮瓣塑造的阴茎也能保留大部分的神经，确保了很好的敏感度，其平均压力和振动阀值也与正常龟头的无异。当然，这里所描述的性别重置手术方案并非是唯一的，实际上在具体的操作者会根据需求方进行个性化安排。正如前文所说，并非所有跨性别者都会选择手术，在非手术情况下也是可以有很多方式获得性满足的。
                        <br/><br/>你可能已经发现了，在前面的讲述中，我们并没有把感情作为性愉悦的必备条件。性、爱是否能分离，一直是个争议不断的问题，我们认为，如何看待性与爱的关系是个人的选择，人对自己的身体有支配权，对于他人如何选择我们没有资格去批评和鄙夷。但是不论我们再怎么强调性权利的自由、以及男性性活跃的本能，都不意味着你可以随意放纵而不考虑后果，作为一个成年人，你要对你的行为负责。在性少数群体以及其他群体中都存在性开放式关系，即恋爱的双方不对对方进行性约束或者管制，但这是在双方都知晓且同意的情况下。在自己的爱人不知道不同意的情况下，与第三者发生性关系对自己的爱人是一种伤害，并可能导致感情破裂。胁迫、诱骗他人与自己发生性关系，则将要负法律责任。而准备与他人发生一夜情（又称419，即英文for one night的谐音）的人，也请考虑相关的风险：可能会被他人诈骗（利用同志群体的隐秘性，针对同志的诈骗日渐变多）；可能会感染艾滋病以及其他疾病；如果你自己心里还没有对性爱分离有一个豁然的态度，一夜情也会给你带来心理负担。我国针对同性性行为并没有法律管制，在拥有性自由的同时，也希望能慎重思考如何使用这样的自由。
                    </p>

                </div>
                <!-- <h1>MOTSS观点：</h1> -->
                <div class="subsection para_collection">

                    <div class="ui grid">
                        <div class="ui row">
                            <div class="ui center aligned sixteen wide column">
                                <button class="mymassive ui green button">MOTSS观点</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="ui huge center aligned inverted green header para_header">MOTSS观点</div> -->
                    <div class="qa_group">
                        <h3 class="ui left floated inverted green header">Q: </h3>
                        <p>在性生活中使用Rush好吗？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>
                            我们不建议使用这种不安全的辅助剂。Rush主要成分是一系列烷基亚硝酸盐，可以使全身平滑肌放松。由于血管也被平滑肌包裹，使用这个药物也会令血管扩张，达到一系列的“助性”效果。但是长期使用亚硝酸盐，会给中枢神经带来伤害，也会导致心脏问题以及青光眼，最严重的，可能出现猝死。
                        </p>
                    </div>

                    <div class="qa_group">
                        <h3 class="ui left floated inverted green header">Q: </h3>
                        <p>男性都能获得前列腺高潮吗？女性都能获得G点/斯基恩氏腺的高潮吗？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>
                            男性的前列腺和女性的斯基恩氏腺在解剖学上是同源的，但敏感程度因人而异，并非所有人在刺激后都会产生一样的快感或者高潮。前列腺离肛门口并不远，对照解剖图用手指就可以轻易地触碰到，所以在男男肛交中插入方的阴茎尺寸对于其是否能刺激到被插入方的前列腺并不是决定性的。相对而言，男性的射精高潮和女性的阴蒂高潮会更容易获得，我们大可以舍难求易。
                        </p>
                    </div>

                    <div class="qa_group">
                        <h3 class="ui left floated inverted green header">Q: </h3>
                        <p>到哪里学习性技巧方面的知识？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>
                            国外有不少这方面的纪录片，不管是男女、男男、女女，如果你的搜索技能足够好的话可以找到。另外维基百科上一些性生理和解剖方面的知识也可以帮助你提高性技巧。一些专业的社团也会开辟性工作坊来正正经经地谈怎么把爱做好。你和你的性伴也可以深入去探索，在做爱之后互相交流而不是倒头就睡或者提裤就走。至于一些网络论坛上的帖子，可能需要进行甄别，千万不要为了爽就把自己或别人给玩坏了。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<script type="text/javascript">
    $(document).ready(function() {

        $("#show_images_ziwopian_1").click(function() {
            openPhotoSwipe("#show_images_ziwopian_1");
        });

    });
</script>
