<div class="">


<div class="secton_top_image">
    <img class="ui fluid  image" src="/static/static_zn/images/zwp.png" alt="" />        
</div>


    <div class="ui grid ">
        <div class="ui sixteen wide column ">
            <div class="article">
                <!-- <div class="image_group " id="show_images_ziwopian_1">
                    <div class="ui grid">
                        <div class="row no_padding">
                            <div class="right floated right aligned five wide column">
                                <span class="icon"></span>
                                <button name="button" class="show_images_anquanpian_1 ui massive black button" style="color: rgba(150,150,150,1); background-color: rgba(0,0,0,0);">
                                    点击图片查看大图
                                </button>
                            </div>
                        </div>
                        <div class="row no_padding">

                            <div class=" no_padding ui eight wide column ">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                            <div class="ui eight wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />
                            </div>
                        </div>
                        <div class="ui row no_padding">
                            <div class="ui sixteen wide column no_padding">
                                <img class="ui fluid image" src="/static/static_zn/images/box.jpg" alt="" />

                            </div>
                            <div class="ui sixteen wide column">

                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="ui huge center aligned inverted red header para_header">同志是什么?</div> -->
                <div class="ui grid">
                    <div class="ui row">
                        <div class="ui center aligned sixteen wide column">
                            <button class="mymassive ui red button">同志是什么?</button>
                        </div>
                    </div>
                </div>


                <div class="subsection para_collection">
                    <p>
                        1989年，香港电影人林奕华创办“香港同志电影节”，“同志”从一个革命称谓逐渐转变为“同性恋”群体的代称。目前，这一词已不限于指称同性恋者，广义上已扩大为包括男同性恋者（Gay）、女同性恋者（Lesbian）、双性恋者（Bisexual）、跨性别者（Transgender）、酷儿（Queer）、间性者（Intersex）等在内的性少数群体的代称。本文中的“同志”即指后一种含义，而这篇指南也从2013年最初写作时“给（男）同性恋的指南”扩大为“给性少数群体”指南。
                        <br/><br/> “性”的定义本身就是模糊和充满争议的，其中混杂有社会学意义和生物学意义的各种模糊地带。将人类简单地划分为男女两种性别无论是在生物意义上还是在社会意义上都是不完备的。从生物学的角度看，人类的性染色除了XY、XX两种组合外还有其他的形式，在性器官和性征的发育上也会出现同时拥有两套性器官或者性征不显著的现象，脑性别与生理性别的不合拍更是导致了有的人心里住了一个与自己生理性别不一致的“灵魂”（即跨性别，合拍的情况则是顺性别）。从社会学的角度看，刚强对应男性、柔弱对应女性无论在历史上还是现代生活中都有诸多反例，任何一个人都只符合传统意义上男性标准的某一些，同时也会符合传统意义上女性标准的某一些。这些都意味着人类的性别在很多层面上不会只有男女两种。
                        <br/><br/> 在情感关系及性关系上，男女两性结合并非是唯一的方式。一个人在情感、浪漫、与性上对N种性别有何种型态的耐久吸引，被称为性取向。当N=1时，即是异性恋或者同性恋，N=2时是双性恋，当N>=3时则可能是多性恋或者泛性恋，当然也有N=0的情况，无性恋者对任何一种性别都没有性或者浪漫关系上的兴趣。
                        <br/><br/> 这些多元的性别与性取向既不是病也不心理问题，然而由于文化、政治、宗教等方面的原因，在某些国家与同性恋结合被视为“邪恶的”并被定罪，一些国家的人更是不能自由地选择自己以怎样的性别生活。然而平等作为一种普世价值是不言而喻的，迄今在联合国192个成员国中，已有96个国家表态支持2011年关于LGBT权益的决议，以支持性少数人群的人权。
                    </p>

                </div>
                <!-- <h1>MOTSS观点：</h1> -->
                <div class="subsection para_collection">

                    <!-- <div class="ui huge center aligned inverted red header para_header"></div> -->
                    <div class="ui grid">
                        <div class="ui row">
                            <div class="ui center aligned sixteen wide column">
                                <button class="mymassive ui red button">MOTSS观点</button>
                            </div>
                        </div>
                    </div>
                    <div class="qa_group">
                        <h3 class="ui left floated inverted red header">Q: </h3>
                        <p>我如何确定我是什么性别和性向？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>在性别、与性向的定义上，我们应该是概念的塑造者而不是概念的顺从者。我们可以去了解关于多元性别与性向方面的知识，在不伤害他人的前提下去探索自己的属性，而不必据泥于各种条款。</p>
                    </div>

                    <div class="qa_group">
                        <h3 class="ui left floated inverted red header">Q: </h3>
                        <p>一个人性别、性向是固定不变吗？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>多数情况下如此，但仍然存在性别、性向流动的情况。一些人可以通过性别重置手术或药物显著地改变自己的性征，还有一些人本身对自己的性别认同就是流动的。有一部分人的性向可能会随着时间和境遇发生改变，不过目前并未有证据表明这是可以由主观意志决定的也并非人人如此。</p>
                    </div>

                    <div class="qa_group">
                        <h3 class="ui left floated inverted red header">Q: </h3>
                        <p>同性恋需要治疗吗？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>2001我国将同性恋从精神疾病的分类当中去除，同性恋不是“病”，也不需要治疗。目前没任何证据表示人工扭转性取向的各种手段有效的，如果你发现身边有所谓的“同性恋治疗”可以向卫生部门、或工商部门举报。</p>
                    </div>

                    <div class="qa_group">
                        <h3 class="ui left floated inverted red header">Q: </h3>
                        <p>跨性别者一定会“变性”吗？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>有一部分跨性别者会通过性别重置手术来使得自己的性征与性别认同一致，或者使用性激素来维持自己需要的性征。也有的跨性别一直维持自己原有的生理性别。如果你是跨性别者，你可以寻找专门的跨性别公益组织或互助小组获得用药等方面的帮助，不规范地使用激素类药物很可能会对你的身体造成永久性伤害。进行性别重置手术前也需要做专业的评估，同时性别表达的转换也并非只是生理层面，生活方式的改变也是一个缓慢而渐进的过程。</p>
                    </div>

                    <div class="qa_group">
                        <h3 class="ui left floated inverted red header">Q: </h3>
                        <p>性少数人群真的更有才华吗？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>尽管我们在艺术、设计等领域见到了一些公开身份的同性恋者、双性恋者、跨性别者等，但仅凭此就认为性少数人群更有才华并非一种褒扬而一种身份的绑架，一个人擅长什么是由多方面决定的。在我们用性别或性别的身份去看待某个族群的同时，也应该看到这个族群是由一个个独特的个体组成。</p>
                    </div>


                </div>

                <!-- <h1>是否应该向他人出柜？</h1> -->
                <div class="subsection para_collection">
                    <!-- <div class="ui huge center aligned inverted red header para_header">是否应该向他人出柜？</div> -->
                    <div class="ui grid">
                        <div class="ui row">
                            <div class="ui center aligned sixteen wide column">
                                <button class="mymassive ui red button">是否应该向他人出柜？</button>
                            </div>
                        </div>
                    </div>
                    <p>
                        出柜，是指公开自己特别的性向或性别身份。我们都会有自己的友情、亲情等等，在情感中我们都渴望得到别人的认同，相应地也应该给别人了解自己的机会。一个人是否认可你与你的性向及性别身份并无关系，只有彼此信任和沟通才是让一个人认同你支持你的方法。但是告知的对象应该是有选择性和目的性的，遵循友善的原则，需要根据不同的情况量力而行，没有必要告诉所有人。 从自己的亲密朋友，或者同年龄、同辈的人入手，相对更容易获取他们的了解和认同，因为他们更容易接触和了解涉及性少数群体的信息。如果你清楚ta 对性少数群体的态度，你们可以先试着讨论与此相关的话题，例如同性恋题材的电影、某些最近出柜的明星。或许这是考验你们情感是否真实的一种方式，毕竟只有真正的感情，才禁得住风吹雨打。
                        <br/><br/> 也许你身处的环境和你周围的人不能以平等、包容的眼光看待性少数群体，对此亦没有必要恐慌，因为人的认知水平是在不断发展的，而只要你不说就不会有人知道。这并不是说公开性向、性别身份不好，而是要基于自身环境考量，不急于公开是为了避免一些不必要的麻烦。你也可以通过努力改变自己的生活环境和周围的人的想法，从而让自己活得更好。 父母作为上一辈人，对多元性别和性向的认识水平可能不如我们。你要相信，真正爱你的父母比任何人都更能接受你，他们只是多了一些担心，担心你的养老、健康等潜在问题。其实对父母对父母出柜并没有传闻中的那么难，只要父母开明、方法得当，跟父母出柜反而是一件很轻松的事，一般情况下只要你有独立生活的能力，就可以向父母出柜，而你要做就是向他们证明你有能力去用自己的方式得到幸福。跟父母出柜的方式有很多，写信或者面谈都可以，前提是需要跟父母有良好的沟通和融洽的关系，如果没有不妨先从这一步做起，让父母多感受到你的爱，主动关心一下他们，他们也会更主动地了解你。作为铺垫，要有意识地给父母观看和了解有关性少数的资料。对此一位同志母亲言简意赅地总结出跟父母出柜的经验：循序渐进，坚持不懈。此外全国各地也已经有越来越多的同志父母站出来支持自己的子女，在网络上可以轻松地找到他们，参与到他们交流中也可以获得很多有用的帮助。
                        <br/><br/> 有时在自己非情愿的情况下，我们也会“被出柜”。比如有些人向自己心仪的同性直人（异性恋）表白之后，被对方在学校里公开性向；又或者一些同性情侣分手之后，有的人会采取报复性措施匿名公开他人的性向。不论哪种情况，公开他人隐私都是极其恶劣的行为。如果被出柜了，你又无法处理局面，可以向自己的好朋友、学校里或所在城市的性少数公益组织求助。如果周围的同学、老师没有太多不友好的言行，你大可泰然处之，也许你甚至会发现一些对性少数友好的人。同时我们建议你平常多储备一些关于多元性别、性向的知识和性少数方面的资讯，万一有一天要跟那些不友好的人争论呢？又或者突然被父母发现了，也不至于措手不及。
                    </p>
                </div>
                <!-- <h1>MOTSS观点</h1> -->
                <div class="subsection para_collection">
                    <!-- <div class="ui huge center aligned inverted red header para_header">MOTSS观点</div> -->
                    <div class="ui grid">
                        <div class="ui row">
                            <div class="ui center aligned sixteen wide column">
                                <button class="mymassive ui red button">MOTSS观点</button>
                            </div>
                        </div>
                    </div>
                    <div class="qa_group">
                        <h3 class="ui left floated inverted red header">Q: </h3>
                        <p>什么时候向父母出柜合适？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>在自己人格独立、经济独立的时候。前者意味着，你在与父母交流的时候不至于摇摆不定，你一时的妥协要为父母“改回去”很有可能会给他们造成二次伤害；后者则是避免父母断了你的生活费。另外多学习一些知识了解相关资讯也是必要的，毕竟有备无患。</p>
                    </div>

                    <div class="qa_group">
                        <h3 class="ui left floated inverted red header">Q: </h3>
                        <p>一定要向父母或周围的人出柜吗？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>我们并不建议你盲目出柜，认同和接受自己的某个特征并不等同于要把这个特征公之于众。事实上，除了性少数身份，我们每个人身上都有诸多的秘密和特征，你可以自由选择是否公之于众或者告诉哪些人，衡量的标准在于：这个特征的暴露是否具有一定的危险性。就现有的出柜经验来看，越是向与自己没有直接利害关系的人出柜越是安全的，向家人出柜则风险系数较高。当然，出柜也并非没有好处，从个人的角度而言，你可以在你在乎的人面前站立起来，与你最亲近的人分享你的秘密，以自己喜欢的方式生活，从群体的角度而言，可以促使群体外的人对我们的即有偏见发生改变，让同志议题更加公开化。</p>
                    </div>

                    <div class="qa_group">
                        <h3 class="ui left floated inverted red header">Q: </h3>
                        <p>出柜之后父母不接受怎么办？</p>
                        <h3 class="ui left floated inverted grey header">A: </h3>
                        <p>父母在短期内不接受你的性少数身份是很常见的，很多人也是跟父母做了很长期的工作才让他们接受自己，观念的改变不是一朝一夕的事。如果他们始终不接受，你也可以学会去接受“父母的不接受”，毕竟生活中除了性少数身份还有很多事情要面对。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<script type="text/javascript">
    $(document).ready(function() {

        $("#show_images_ziwopian_1").click(function() {
            openPhotoSwipe("#show_images_ziwopian_1");
        });

    });
</script>
